view-more {


  .detailDisplay {

    background-color: #333;
    color: #f4f4f4;

    .imageDisplay {
      text-align: center;
    }

    p {
      font-size: 1.6rem;
    }
  }

  .iconSize{
    font-size: 1.4em;
  }

  ion-grid{
    p{
      font-size:1.0rem;
    }
    padding: 0 0 0 0;
  }

  .detailText{
    padding-left: 15px;
  }

  .roomImgDisplay{
    img {
      z-index: 1;
      object-fit: cover;
      width: 100%;
    }

    h5{
      text-align: center;
    }

    .iconSize{
      text-align: center;
    }
  }

}
