search-event .main-view {
  background: transparent; }
search-event .overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: .5;
  background-color: #333; }
search-event .modal_content {
  position: absolute;
  top: calc(50% - (50% / 2));
  left: 0;
  right: 0;
  width: 100%;
  height: 60%;
  padding: 10px;
  z-index: 100;
  margin: 0 auto;
  padding: 10px;
  color: #333;
  background: #e8e8e8;
  background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
  background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
  background: linear-gradient(to bottom, #fff 0%, #e8e8e8 100%);
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(51, 51, 51, 0.35);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden; }

/*# sourceMappingURL=searchEvents.css.map */
