<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">

    <button  menuToggle ion-button icon-only color="light">
      <ion-icon item-end name="menu"></ion-icon>
    </button>

    <ion-title>Registration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="titleHeader">
  <img  class="image" src="assets/img/BayLogoHorizontal2.png">
  <h5> New Account registration </h5>
  </div>
  <ion-item class="register">

    <ion-label floating class="floatingLabel">
      Email
    </ion-label>
    <ion-icon item-start name="md-mail"></ion-icon>
    <ion-input></ion-input>

  </ion-item>

  <ion-item class="register">

    <ion-label floating class="floatingLabel">
      First Name
    </ion-label>
    <ion-icon item-start name="md-person"></ion-icon>
    <ion-input></ion-input>

  </ion-item>


  <ion-item class="register">

    <ion-label floating class="floatingLabel">
      Last Name
    </ion-label>
    <ion-icon item-start name="md-person"></ion-icon>
    <ion-input></ion-input>


  </ion-item>
  <br>

  <button block ion-button> Register </button>
  <button block ion-button color="light"> Cancel </button>


</ion-content>
