page-register {

  ion-content{
    background: linear-gradient(to bottom right, #1F1F1F, #434343);
    color:white
  }


  .titleHeader{
    text-align: center;
    color: #f4f4f4;
    img{
      width: 60%;
    }
  }


  .register{
    color:white;
    background-color: transparent;
    .floatingLabel{
      margin-left: 40px;
      color: #f4f4f4;
    }
    ion-input{
      margin-left: 80px;
    }


  }

  ion-icon{
    position: absolute;
  }

  ion-label{
    margin-left: 20px;
  }

}
