page-register ion-content {
  background: linear-gradient(to bottom right, #1F1F1F, #434343);
  color: white; }
page-register .titleHeader {
  text-align: center;
  color: #f4f4f4; }
  page-register .titleHeader img {
    width: 60%; }
page-register .register {
  color: white;
  background-color: transparent; }
  page-register .register .floatingLabel {
    margin-left: 40px;
    color: #f4f4f4; }
  page-register .register ion-input {
    margin-left: 80px; }
page-register ion-icon {
  position: absolute; }
page-register ion-label {
  margin-left: 20px; }

/*# sourceMappingURL=register.css.map */
