<!--
  Generated template for the PromotionTabsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="dark" >

    <button  menuToggle ion-button icon-only color="light">
      <ion-icon item-end name="menu"></ion-icon>
    </button>

    <ion-title>Promotions </ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding >

  <ion-tabs color="dark" class="tab" #promoTab>
    <ion-tab [root]="tab1Root" tabTitle=" All "></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Food"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Room"></ion-tab>
  </ion-tabs>

</ion-content>
