page-promotion-tabs .tab {
  min-height: 5.0rem;
  border-color: whitesmoke; }
  page-promotion-tabs .tab .tab-button-text {
    font-size: 1.4rem;
    font-weight: 500; }

/*# sourceMappingURL=promotion-tabs.css.map */
