<!--
  Generated template for the RoomBookPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar transparent>

    <button  menuToggle ion-button icon-only color="light">
      <ion-icon item-end name="menu"></ion-icon>
    </button>

    <div class="logo">
    <img src="assets/img/BayLogoHorizontal2.png">

    </div>

  </ion-navbar>

</ion-header>


<ion-content class="background" no-padding></ion-content>

<ion-content class="content" padding>

  <ion-grid class="formInput">



    <ion-row>

      <ion-col class="dateSelectwBorder" (click)="datePick('start')">
        <p>Check In</p>
        <p><span class="day"> {{checkInDate | date: 'dd' }} <span class="month">{{checkInDate | date: 'MMM' }}<br><span class="dayOfWeek">{{checkInDate | date: 'EEE' }} </span></span></span></p>

      </ion-col>
      <ion-col  class="dateSelect" (click)="datePick('end')">
        <p>Check Out</p>
        <p><span class="day"> {{checkOutDate | date: 'dd' }} <span class="month">{{checkOutDate | date: 'MMM' }}<br><span class="dayOfWeek"> {{checkOutDate | date: 'EEE' }} </span></span></span></p>

      </ion-col>

    </ion-row>


    <ion-row *ngIf="!showGuestDetail">

      <ion-col >
        <button ion-item detail-none no-lines (click)="showDetails()" > <span class="focusMain"> {{ adultCount }} </span> Adult <span class="focusMain"> {{ childCount }} </span>  Child</button>
      </ion-col>

    </ion-row>

    <ion-row *ngIf="showGuestDetail">

      <button detail-none no-lines ion-item clear> <span class="focusMain">{{ adultCount }}</span> Adults

        <button ion-button icon-only item-start clear (click)="amountAdjust('minus', 'adult')">
          <ion-icon color="dark" name="md-remove-circle"></ion-icon>
        </button>

        <button ion-button icon-only item-end clear (click)="amountAdjust('plus', 'adult')">
          <ion-icon color="dark" name="md-add-circle"></ion-icon>
        </button>

      </button>


      <button detail-none no-lines ion-item clear> <span class="focusMain">{{ childCount }}</span> Children

        <button ion-button icon-only item-start clear (click)="amountAdjust('minus', 'child')">
          <ion-icon color="dark" name="md-remove-circle"></ion-icon>
        </button>

        <button ion-button icon-only item-end clear (click)="amountAdjust('plus', 'child')">
          <ion-icon color="dark" name="md-add-circle"></ion-icon>
        </button>

      </button>

    </ion-row>

    <ion-row>

      <button detail-none no-lines ion-item clear (click)="closeDetail()"> <span class="focusMain">{{roomCount}}</span> Room

        <button ion-button icon-only item-start clear (click)="amountAdjust('minus', 'room')">
          <ion-icon color="dark" name="md-remove-circle"></ion-icon>
        </button>

        <button ion-button icon-only item-end clear (click)="amountAdjust('plus', 'room')">
          <ion-icon color="dark" name="md-add-circle"></ion-icon>
        </button>

      </button>


    </ion-row>

      <button block ion-button (click)="confirmBooking()"> Search </button>


  </ion-grid>

</ion-content>

