page-room-book {

  .background {

      background-image: url("../assets/img/wallpaper/wallpaper3.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      z-index : -1;

  }



  .content{


    background-color: transparent;
    z-index : 2;

    .formInput{
      border-radius: 2px;
      background-color: rgba(0,0,0,0.4);
      padding: 15px 15px 15px 15px;

    ion-row{
      background-color: white;
      padding-top:5px;
      padding-bottom: 5px;
      border-radius: 2px;

      margin-top: 5px;
      margin-bottom: 5px;
    }

    ion-col{
      padding-top: 0px;
      padding-bottom: 0px;
      text-align: center;
    }

      button{
        text-align: center;
      }


    }


  }

  .dateSelectwBorder {
      text-align: center;
      border-right: 1px solid grey;
  }

  .dateSelect {
    text-align: center;

  }

  .month {
    display: inline-block;
    margin: -9em 0;
    vertical-align: -0.55em;
    font-size: 60%;
    text-align: left;
    color:black;
  }


  .day{
    font-size: 2.0em;
    white-space: nowrap;
    color:orange;
  }

  .dayOfWeek{
    color:grey
  }

  .focusMain{
    font-size: 1.6em;
    color: orange;
  }

  .logo {

    float:right;
    padding-top:10px;
    padding-right: 20px;

    img {
      max-height: 9rem;
      max-width: 9rem;
    }
  }


}
