// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.company-container{
  text-align: center;
  .company-profile{
    border-radius: 50%;
    width: 180px;
    height:180px;
    overflow: hidden;

  }
}

.profile{
  border-radius: 50%;
}

.menuColor{
  background-color: #222222;
  color: white;

  button{
    background-color: transparent;
    color: white;
  }
}
