.company-container {
  text-align: center; }
  .company-container .company-profile {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    overflow: hidden; }

.profile {
  border-radius: 50%; }

.menuColor {
  background-color: #222222;
  color: white; }
  .menuColor button {
    background-color: transparent;
    color: white; }

/*# sourceMappingURL=app.css.map */
