page-room-detail {


  .item ion-thumbnail {

    img {
      max-width: 8rem;
      min-width: 6rem;
    }
  }

  ion-item.item{
    background-color: transparent;
    color:white;

    .subtitle{
      color:#DCDCDC;
    }
  }

  ion-content{
    background: linear-gradient(to bottom right, #1F1F1F, #434343);
  }

  .occupancy{
    float: right;
  }


}
