page-room-detail .item ion-thumbnail img {
  max-width: 8rem;
  min-width: 6rem; }
page-room-detail ion-item.item {
  background-color: transparent;
  color: white; }
  page-room-detail ion-item.item .subtitle {
    color: #DCDCDC; }
page-room-detail ion-content {
  background: linear-gradient(to bottom right, #1F1F1F, #434343); }
page-room-detail .occupancy {
  float: right; }

/*# sourceMappingURL=room-detail.css.map */
