<!--
  Generated template for the RoomDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title color="light">Room Detail</ion-title>
    <button  menuToggle ion-button icon-only color="light">
      <ion-icon item-end name="menu"></ion-icon>
    </button>

  </ion-navbar>

</ion-header>


<ion-content no-padding class="hotel">

  <ion-list>
    <ion-item *ngFor="let room of roomLists" (click)="roomDetailView(room)">
      <ion-thumbnail item-start>
          <img src= {{room.image}}>
      </ion-thumbnail>
      <h3>{{room.roomTitle}}</h3>
      <p class="subtitle">Size:{{room.size}} <span class="occupancy">Guests No :{{room.occupancy}}</span></p>
    </ion-item>
  </ion-list>

</ion-content>
