page-promotion ion-content {
  background: linear-gradient(to bottom right, #1F1F1F, #434343);
  color: white; }
page-promotion .title {
  padding-left: 10px;
  color: #DCDCDC; }
page-promotion .seeAll {
  float: right; }
  page-promotion .seeAll button {
    padding-top: 0px;
    text-align: right;
    padding-right: 10px; }
page-promotion ion-slides {
  max-height: 250px;
  background-color: #2F2F2F; }
page-promotion .gallery ion-slide {
  display: inline-block;
  background-color: transparent; }
page-promotion .gallery .cards {
  box-shadow: none;
  background-color: inherit;
  margin: 5px 5px 5px 5px;
  width: calc(100% - 10px); }
  page-promotion .gallery .cards img {
    object-fit: cover;
    height: 100px; }
  page-promotion .gallery .cards ion-card-content {
    text-align: center;
    color: inherit;
    padding-top: 0px;
    padding-left: 0px; }
    page-promotion .gallery .cards ion-card-content ion-card-title {
      font-size: 1.0em;
      height: 40px; }
page-promotion .subText {
  color: #D3d3d3; }
page-promotion img {
  object-fit: cover;
  height: 120px;
  width: 100%;
  border-radius: 3px;
  z-index: -2; }

/*# sourceMappingURL=promotion.css.map */
