page-promotion {

  ion-content{
    background: linear-gradient(to bottom right, #1F1F1F, #434343);
    color:white
  }

  .title{
    padding-left: 10px;
    color:#DCDCDC;
  }

  .seeAll{
    float: right;
    button{
      padding-top: 0px;
      text-align: right;
      padding-right: 10px;
    }
  }

  ion-slides{
    max-height: 250px;
    background-color: #2F2F2F		;
  }

  .gallery{
    ion-slide{
      display: inline-block;
      background-color:transparent;
    }


    .cards{
      box-shadow: none;
      background-color: inherit;

      img{
        object-fit: cover;
        height:100px;
      }

      ion-card-content{
        text-align: center;
        color: inherit;

        ion-card-title{
          font-size: 1.0em;
          height: 40px;
        }
        padding-top: 0px;
        padding-left: 0px;
      }

      margin: 5px 5px 5px 5px;
      width: calc(100% - 10px);

    }



  }

  .subText{
    color: #D3d3d3;
  }

  img{
    object-fit: cover;
    height: 120px;
    width: 100%;
    border-radius: 3px;
    z-index: -2;
  }




}
