<!--
  Generated template for the PromotionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content no-padding>


 <h4 class="title">  Food Promotions <span class="seeAll"><button ion-button clear color="light" (click)="jumpTab('food')"> See All ></button> </span></h4>

  <ion-slides slidesPerView="2" class="gallery">
    <ion-slide *ngFor="let slide of foodPromotions">
      <ion-card class="cards" (click)="foodPromoDetail(slide)">
        <img src={{slide.image}}>
        <ion-card-content>
          <ion-card-title class="title">
            <b>{{slide.promoName}}</b>
          </ion-card-title>
          <p class="subText"> Date: {{slide.date}}</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <h4 class="title">  Room Promotions <span class="seeAll"><button ion-button clear color="light" (click)="jumpTab('room')"> See All ></button> </span></h4>

  <ion-slides slidesPerView="2" class="gallery">
    <ion-slide *ngFor="let slide of roomPromotions">
      <ion-card class="cards" (click)="roomPromotionDetail(slide)">
        <img src={{slide.image}}>
        <ion-card-content>
          <ion-card-title class="title">
            <b>{{slide.promoName}}</b>
          </ion-card-title>
          <p class="subText"> Event Period: {{slide.promoPeriod}}</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>


</ion-content>
