<!--
  Generated template for the FnbPromotionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content no-padding>

  <ion-card class="card-background-page" *ngFor="let fnbPromo of fnbPromotionList" (click)="foodPromoDetail(fnbPromo)" >
    <img src={{fnbPromo.image}} >
    <div class="cardContent">
      <div class="text"> {{fnbPromo.promoName}} </div>
      <p class="subtitle">{{fnbPromo.date}}</p>
    </div>
  </ion-card>

</ion-content>
