page-room-promotion img {
  z-index: 1;
  object-fit: cover;
  width: 100%; }
page-room-promotion ion-card {
  position: relative; }
page-room-promotion .card-background-page {
  margin: 0px;
  width: 100%; }
page-room-promotion .cardContent {
  background: linear-gradient(to bottom right, rgba(31, 31, 31, 0.7), rgba(67, 67, 67, 0.7));
  height: 100%;
  position: absolute;
  top: 65%;
  width: 100%;
  color: white; }
  page-room-promotion .cardContent .text {
    color: #fff;
    font-weight: bold;
    font-size: 1.4em;
    text-align: left;
    padding: 10px 10px 10px 10px; }
  page-room-promotion .cardContent .subtitle {
    color: #f5f5f5;
    padding-left: 10px;
    padding-bottom: 10px; }

/*# sourceMappingURL=room-promotion.css.map */
