<!--
  Generated template for the RoomPromotionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content no-padding>

  <ion-card class="card-background-page" *ngFor="let roomPromo of roomPromotionList" (click)="roomPromotionDetail(roomPromo)">
    <img src={{roomPromo.image}}>
    <div class="cardContent">
      <div class="text"> {{roomPromo.promoName}} </div>
      <p class="subtitle">{{roomPromo.validity}}</p>
    </div>
  </ion-card>



</ion-content>
